body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

header {
  color: red;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: inline-block;
  margin-right: .5em;
  margin-left: .5em;
}
